body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://img.freepik.com/free-photo/top-view-list-written-black-notebook-black-table-free-space_140725-142507.jpg?w=740&t=st=1707751778~exp=1707752378~hmac=c454ac4d02b864801a700aab509b2845aa8a35367c9b141c92cab96bb65a959b");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#todo-box {
    width: 80%;
    max-width: 600px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    opacity: 0;
    animation: fadeInLeft 0.5s ease-in-out forwards;
    margin-bottom: 10px;
    background-color: transparent;
}

.task span {
    flex-grow: 1;
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
    font-family: cursive;
}

.task button {
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
}

.task button.edit {
    background-color: #3498db;
    color: #fff;
}

.task button.delete {
    background-color: #e74c3c;
    color: #fff;
}

.task button.done {
    background-color: #2ecc71;
    color: #fff;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

button#add-task-btn {
    width: 35%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color:white
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.todo-icon {
    height: 25px;
    width:25px;
}